In [27]:
! ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

If we try to read from this file without using any additional libraries, we will get a bunch of garbled nonsense, since this file is encoded as bytes and not plain text:

In [28]:
with open("data.sqlite", "rb") as f:
    print(f.read(100))

b'SQLite format 3\x00\x10\x00\x01\x01\x00@  \x00\x00\x00\x10\x00\x00\x008\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x08\x00\x00\x00\x04\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x10\x00.\x05B'

## Connection

Instead, we will use the sqlite3 module. 
The module works by opening a connection to the database with sqlite3.connect:

In [29]:
import sqlite3
conn = sqlite3.connect('data.sqlite')

In [30]:
database_connection = sqlite3.Connection('data.sqlite')
database_connection

In [31]:
! ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

We will use the connection throughout the notebook , then close it at the end.
Let's look at some more attributes of the connection:

In [32]:
print("Data type", type(conn))
print("Uncommitted changes", conn.in_transaction)
print("Total changes", conn.total_changes)

Data type <class 'sqlite3.Connection'>
Uncommitted changes False
Total changes 0

Since we have only opened the connection and not perform any queries, there anr no

# SQL Query vs subquery   
(Product table, sales, customer ID, Date, Productid, Product Category)

### Defination

A SQL query is a statement used to retrieve, manipulate or update data from a database

A subquery is a query nested inside another SQL query usually within a 'SELECT product, INSERT, UPDATE or DELETE statment'

Example 2
SELECT name 
FROM employees
WHERE age > 30;

subquery
SELECT name From employees WHERE age > (SELECT AVG(age)) FROM employees;

### Purpose

SQL is Used to directly interact with a database to retrieve or manipulate data while a Subquery is used to provide intermediate results to a parent query, often for fitering, aggregating or evaluating conditions

SELECT
FROM
WHERE
ORDER BY
GROUP BY
LIMIT
ACSC

HAVING

### TWO tables 1. Student 2. Courses
SELECT student_name,
FROM Student
WHERE course_id IN(SELECT course_id, 
                    FROM Courses, 
                    WHERE instruction_name = 'Kanja');

In [35]:
w = """SELECT *
FROM employees;"""

pd.read_sql(w, database_connection)

NameError: name 'pd' is not defined

In [33]:
employees_query_USA = """
SELECT lastName, firstName, officeCode
FROM employees
JOIN offices
    USING(officeCode)
WHERE country = USA;"""
pd.read_sql(employees_query_USA, database_connection)

NameError: name 'pd' is not defined